/* .inputArea {
  background: #deb887;
  width: 480px;
  height: 35px;
  border-radius: 6px;
  box-shadow: 1px 1px 3px gray;
  display: flex;
  align-items: center;
  padding: 8px;
  margin: 8px;
} */

input {
  width: 357px;
  margin: 10px;
  padding: 6px 16px;
  border-radius: 3px;
  border: none;
  box-shadow: 1px 1px 3px gray;
  outline: none;
}

button {
  border: none;
  box-shadow: 1px 1px 3px gray;
  border-radius: 3px;
  height: 27px;
  margin: 3px 3px;
  &:hover {
    background-color: #675e55;
    color: #fff;
    cursor: pointer;
  }
}

.incompleteArea {
  background-color: #e0e0e0;
  width: 480px;
  min-height: 200px;
  border-radius: 6px;
  box-shadow: 1px 1px 3px gray;
  padding: 8px;
  margin: 15px 8px;
}

.title {
  text-align: center;
  margin-top: 0;
  color: #585656;
  font-weight: bold;
}

.completeArea {
  background-color: #deb887;
  width: 480px;
  min-height: 200px;
  border-radius: 6px;
  box-shadow: 1px 1px 3px gray;
  padding: 8px;
  margin: 15px 8px;
}

.todo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 25px;
}

.todo_item {
  margin: 0;
}
